BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48.0 MHz;

# PMOD A
LOCATE COMP "PMOD_A1" SITE "E5";
IOBUF PORT "PMOD_A1" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PMOD_A2" SITE "D4";
IOBUF PORT "PMOD_A2" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PMOD_A3" SITE "B5";
IOBUF PORT "PMOD_A3" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PMOD_A4" SITE "C6";
IOBUF PORT "PMOD_A4" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PMOD_A7" SITE "E4";
IOBUF PORT "PMOD_A7" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PMOD_A8" SITE "C4";
IOBUF PORT "PMOD_A8" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PMOD_A9" SITE "B6";
IOBUF PORT "PMOD_A9" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PMOD_A10" SITE "D6";
IOBUF PORT "PMOD_A10" IO_TYPE=LVCMOS33 PULLMODE=NONE;

# PMOD A (USB-UART)
#LOCATE COMP "UART0_RTS" SITE "E5";
#IOBUF PORT "UART0_RTS" IO_TYPE=LVCMOS33;
#LOCATE COMP "UART0_RX" SITE "D4";
#IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;
#LOCATE COMP "UART0_TX" SITE "B5";
#IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;
#LOCATE COMP "UART0_CTS" SITE "C6";
#IOBUF PORT "UART0_CTS" IO_TYPE=LVCMOS33;

# PMOD B
LOCATE COMP "GPIOA" SITE "C8";
IOBUF PORT "GPIOA" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "GPIOB" SITE "B9";
IOBUF PORT "GPIOB" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "GPIOC" SITE "A10";
IOBUF PORT "GPIOC" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIOD" SITE "C10";
IOBUF PORT "GPIOD" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B7" SITE "B8";
IOBUF PORT "PMOD_B7" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B8" SITE "A9";
IOBUF PORT "PMOD_B8" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B9" SITE "B10";
IOBUF PORT "PMOD_B9" IO_TYPE=LVCMOS33;
LOCATE COMP "PMOD_B10" SITE "D10";
IOBUF PORT "PMOD_B10" IO_TYPE=LVCMOS33;

# RGB LED
LOCATE COMP "led_r" SITE "B11";
IOBUF PORT "led_r" IO_TYPE=LVCMOS33;
LOCATE COMP "led_g" SITE "A11";
IOBUF PORT "led_g" IO_TYPE=LVCMOS33;
LOCATE COMP "led_b" SITE "C12";
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;

# MMOD
LOCATE COMP "SPI_SS_RAM" SITE "N8";
IOBUF PORT "SPI_SS_RAM" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

# STEREO AUDIO
LOCATE COMP "AUDIO_L" SITE "J2";
IOBUF PORT "AUDIO_L" IO_TYPE=LVCMOS33;
LOCATE COMP "AUDIO_R" SITE "J1";
IOBUF PORT "AUDIO_R" IO_TYPE=LVCMOS33;


